<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <ion-toolbar>
    <ion-icon name="location-outline" slot="start"></ion-icon> Taboão da Serra, SP
    <img src="../../assets/imagens/user.png" alt="foto de usuário" class="user">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulos">
    <h1 id="bemVindo">Seja bem-vindo,</h1>
    <p id="bemVindoTexto"><b>Vamos pedir itens fresquinhos para você?</b></p>
  </div>

  <div>
    <h2 class="titulos" id="titulos">Categorias</h2>
  </div>

  <div class="cards">
    <div>
      <ion-card class="card1">
        <img alt="Frutas" src="../../assets/imagens/frutas.png" />
        <ion-card-header>
          <ion-card-title>Frutas</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>

    <div>
      <ion-card class="card2">
        <img alt="Diversos" src="../../assets/imagens/diversos.png" />
        <ion-card-header>
          <ion-card-title>Diverços</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>

    <div>
      <ion-card class="card3">
        <img alt="Açougue" src="../../assets/imagens/acougue.png" />
        <ion-card-header>
          <ion-card-title>Açougue</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>

  <div>
    <h2 class="titulos" id="titulos">Minhas Compras</h2>
  </div>

  <div class="compras">
    <div class="compras1">
      <div class="imgNome">
        <div class="frutasCompras">
          <img src="../../assets/imagens/frutas.png" alt="" class="comprasFrutas">
        </div>
        <div class="nome">
          <p class="nomesItens"><b>Frutas</b><br>27/05/2024</p>
        </div>
      </div>
      <div class="preco">
        <p class="precoItens"><b>$50,00</b><br>5 items</p>
      </div>
    </div>

    <div class="compras2">
      <div class="imgNome">
        <div class="diversosCompras">
          <img src="../../assets/imagens/diversos.png" alt="" class="comprasDiversos">
        </div>
        <div class="nome">
          <p class="nomesItens"><b>Diverços</b><br>20/05/2024</p>
        </div>
      </div>
      <div class="preco">
        <p class="precoItens"><b>$35,40</b><br>6 items</p>
      </div>
    </div>

    <div class="compras3">
      <div class="imgNome">
        <div class="acougueCompras">
          <img src="../../assets/imagens/acougue.png" alt="" class="comprasAcougue">
        </div>
        <div class="nome">
          <p class="nomesItens"><b>Açougue</b><br>20/05/2024</p>
        </div>
      </div>
      <div class="preco">
        <p class="precoItens"><b>$56,44</b><br>3 items</p>
      </div>
    </div>
  </div>
</ion-content>
