<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<ion-toolbar></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="imagem">
      <img src="../../assets/imagens/home-image.png" alt="Sacola de compras">
    </div>

    <div class="texto">
      <h1 class="titulo"><b>Entregamos mantimentos à sua porta</b></h1>
      <p class="descricao">A mercearia oferece vegetais e frutas frescas.
        <br>Encomende itens frescos na mercearia.
      </p>
    </div>

    <div class="botao">
      <ion-button shape="round" routerLink="/tabs/tab1" color="tertiary">Iniciar<ion-icon name="arrow-forward-outline" slot="end"></ion-icon></ion-button>
    </div>
  </div>
</ion-content>
